@charset "utf-8";
/** 全体 **/
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* border: solid 1px red; */
}
h2 {
    font-size: 25px;
}
/** header **/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px gray;
}
header a {
    font-size: 45px;
    font-weight: bold;
    padding: 15px 0;
    color: gray;
}
header nav {
    margin: auto 0;
}
header ul {
    display: flex;
    
}
header ul li {
    padding: 5px;
}
/** main **/
main {
    display: flex;
    justify-content: space-around;
}
#contents {
    display: flex;
    justify-content: space-around;
    margin: 1vw;
}
#img {
    border: solid 1px;
    margin-top: 8vh;
}
#img img{
    width: 80%;
    margin: 0 auto;
    padding-left: 5vw;
}
#detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20vh 5vw 0 10vw;
}
#detail p {
    padding: 1vh;
}
#detail h2 {
    font-size: 2vw;
    position: absolute;
    top: 20%;
}
#detail h2 span{
    margin-left: 1vw;
    /* display: none; */
    font-size: 1.5vw;
    color: red;
}
#detail p span {
    font-weight: bold;
}
#right {
    position: absolute;
    right: 15%;
}
.now {
    display: flex;
}
.now h2 {
    margin: auto 0;
}
#right p {
    margin: 3%;
}
input[type="text"] {
    width: 50%;
    border: solid 1px black;
}
#bit_button {
    border: solid 1px black;
    width: 50%;
    padding: 2%;
    text-align: center;
    background-color: orange;
}