* {
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
}
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}
h1 {
    padding: 15px;
    color: gray;
    font-size: 28px;
    border-bottom: 1px dotted gray;
}
li {
    border-bottom: 1px dotted gray;
    list-style: none;
    padding: 15px;
    /* width: 800px; */
}
a {
    color: red;
    text-decoration: none;
}
a:visited {
    /* display: none; */
    background-color: red;
}
span {
    background-color: #2388b8;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
}
time {
    display: inline-block;
    font-weight: bold;
    margin-right: 40px;
}
p {
    display: inline-block;
    text-decoration: underline;
}