@charset "utf-8";
/** 全体 **/
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* border: solid 1px red; */
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
    margin-bottom: 18%;
}
h3 {
    font-size: 25px;
}
/** header **/
header {
    border-bottom: solid 1px black;
}
/** main **/
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
/** プロフィール **/
#profile {
    margin-top: 5%;
    margin-right: 12%;
}
#name {
    text-align: center;
    padding-top: 10%;
    font-size: 22px;
}
#logout {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 10%;
}
.bottom {
    margin-bottom: 5%;
}
/** 新着情報 **/
#inform {
    margin-top: 12%;
    margin-bottom: 3%;
}
#inform a {
    display: flex;
}
time {
    padding-right: 1%;
}
span {
    color: #2388b8;
}
/** お気に入りリスト **/
#favorite {
    margin-bottom: 3%;
}
.vehicle {
    border: solid 1px black;
    width: 15%;
    margin-left: 0.1%;
}
.vehicle img {
    width: 100%;
}
.detail {
    color: brown;
    text-align: right;
    padding-right: 3%;
}
/** 購入履歴 **/
#purchase_stack {
    margin-bottom: 3%;
}
/** 観覧履歴 **/
.next {
    font-size: 2em;
    height: 3%;
    margin: auto auto;
}
/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
 }
 
 .slider img {
     width:100%; /*スライダー内の画像を横幅100%に */
     height:auto;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
 }
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
   text-align:center;
   margin:20px 0 0 0;
 }
 
 .slick-dots li {
     display:inline-block;
   margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }
 
 
 /*========= レイアウトのためのCSS ===============*/
 
 body{
   background:#eee;
 }
 
 h2,p {
     text-align:center;
     padding:20px;
 }
 
 ul{
   margin:0;
   padding: 0;
   list-style: none;
 }
 
 a{
   color: #333;
 }
 
 a:hover,
 a:active{
   text-decoration: none;
 }