@charset "utf-8";
/** 全体 **/
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* border: solid 1px red; */
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
    margin-bottom: 18%;
}
h3 {
    font-size: 25px;
}
/** header **/
header {
    border-bottom: solid 1px black;
}
/** main **/
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
/** プロフィール **/
#profile {
    margin-top: 5%;
    margin-right: 12%;
}
#name {
    text-align: center;
    padding-top: 10%;
    font-size: 22px;
}
#logout {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 10%;
}
.bottom {
    margin-bottom: 5%;
}
/** 新着情報 **/
#inform {
    margin-top: 12%;
    margin-bottom: 3%;
}
#inform a {
    display: flex;
}
time {
    padding-right: 1%;
}
span {
    color: #2388b8;
}
/** お気に入りリスト **/
#favorite {
    margin-bottom: 3%;
}
.while {
    display: flex;
}
.vehicle {
    border: solid 1px black;
    width: 15%;
    margin-left: 0.1%;
}
.vehicle img {
    width: 100%;
}
.detail {
    color: brown;
    text-align: right;
    padding-right: 3%;
}
/** 購入履歴 **/
#purchase_stack {
    margin-bottom: 3%;
}
/** 観覧履歴 **/
.next {
    font-size: 2em;
    height: 3%;
    margin: auto auto;
}