@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
}
/** header **/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}
header h1 {
    font-size: 26px;
}
header ul {
    display: flex;
}
header ul li {
    border-left: solid 1px black;
}
header ul li:first-child {
    border-left: none;
}

/** main **/
/** オークション開催中 **/
#bana {
    margin: 10% 0;
    display: flex;
    justify-content: space-around;
}
#bana img {
    width: 40%;
    position: relative;
    left: 700px;
}
#bana h2{
    font-size: 24px;
}
#bak {
    width: 100%;
    clip-path: polygon(45% 0,100% 0%,100% 100%,30% 100%);
    background-color: goldenrod;
}
#held {
    position: absolute;
    left: 100px;
}
/** オークション予定 **/
.vehicle {
    border: solid 1px black;
    width: 15%;
}
.vehicle img {
    width: 100%;
}