<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/entry.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>車両管理</title>
</head>
<body>
  <div class="top">
    <header class="header">
      <h1>HAL中古車販売</h1>
    </header>
    <aside class="menu">
        <ul id="accordion" class="accordion">
            <li>
              <div class="link"><i class="fa fa-database"></i>車両管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="top">車両一覧</a></li>
                <li><a href="#">車両情報登録</a></li>
              </ul>
            </li>
            <li>
              <div class="link"><i class="fa fa-code"></i>会員管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="user">会員情報一覧</a></li>
              </ul>
            </li>
            <li>
              <div class="link"><i class="fa fa-mobile"></i>出品管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="schedule">スケジュール登録</a></li>
                <li><a href="#">出品一覧</a></li>
                <li><a href="exhibit">出品情報登録</a></li>
              </ul>
            </li>
            <li>
              <div class="link"><i class="fa fa-globe"></i>オークション管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="auction">オークション一覧</a></li>
              </ul>
            </li>
          </ul>
    </aside>
        <main class="main">
            <h1>車両情報登録</h1>
              <form class="form" action="/car_entry" method="post">
                
                <!-- メーカー名 -->
                <div class="item">
                  <label class="label_left" for="meka">メーカー名</label>
                
                  <select name="make" id="make" required>
                    <option value="">以下から選択してください</option>
                  <% for (let column of makerData) { %>
                    <option value="<%= column.maker_id %>"><%= column.name %></option>
                  <% } %>
                  </select>
                  <div id="carInfo" data-car="<%= JSON.stringify(carData) %>"></div>
                </div>
                
                <!-- 車種名 -->
                  <div class="item">
                    <label class="label_left" for="name">車種名</label>
                    
                    <select name="car_type_name" id="name">
                      <option value="">以下から選択してください</option>
                    </select>
                  </div>
                  
                  <!--  仕入価格 -->
                  <div class="item">
                    <label  class="label_left" for="price">仕入価格</label>
                    <input id="price" type="number" placeholder="仕入価格を入力" required name="purchase_price"><br>
                  </div>
                
                  <!-- ボディータイプ -->
                  <div class="item">
                    <label class="label_left" for="bodyType">ボディータイプ</label>
                    <input id="bodyType" type="number" min="0" max="7" placeholder="ボディータイプを入力" required name="body_type"><br>
                  </div>
                
                  <!-- 年式 -->
                  <div class="item">
                      <label class="label_left" for="yearType">年式</label>
                      <input id="yearType" type="number" placeholder="年式を入力" required name="year_type"><br>
                  </div>

                  <!-- 走行距離 -->
                  <div class="item">
                      <label class="label_left" for="loadResult">走行距離</label>
                      <input id="loadResult" type="number" min="0" placeholder="走行距離を入力" required name="mileage"><br>
                  </div>

                  <!-- 実走行 -->
                  <div class="item">
                      <label class="label_left" for="rnu">実走行</label>
                      <select name="run" id="run" required>
                          <option value="">以下から選択してください</option>
                          <option value="1">可能</option>
                          <option value="0">不可能</option>
                      </select><br>
                  </div> 

                  <!-- 色 -->
                  <div class="item">
                      <label class="label_left" for="color">色</label>
                      <input id="color" type="number" min="0" max="11" placeholder="色を入力" required name="color"><br>
                  </div>  
                  
                  <!-- 車検有効期限 -->
                  <div class="item">
                      <label class="label_left" for="vehicleInspection">車検有効期限</label>
                      <input id="vehicleInspection" type="text" placeholder="車検有効期限を入力" name="is_actual_driving"><br>
                  </div>  

                  <!-- オートマ/ミッション -->
                  <div class="item">
                      <label class="label_left" for="auto">オートマ/ミッション</label>
                      <select name="auto" id="auto" required>
                          <option value="">以下から選択してください</option>
                          <option value="1">オートマ車</option>
                          <option value="0">ミッション車</option>
                        </select><br>
                  </div> 

                  <!-- 排気量 -->
                  <div class="item">
                      <label class="label_left" for="co">排気量</label>
                      <input id="co" type="munber" min="0" placeholder="排気量を入力" required name="displacement"><br>
                  </div>                 
  
                  <!-- 乗車人数 -->
                  <div class="item">
                      <label class="label_left" for="co">乗車人数</label>
                      <select name="ride" id="ride" required>
                          <option value="">以下から選択してください</option>
                          <!-- 乗車人数繰り返し処理　htmlファイルのため消してます-->
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>

                      </select>人<br>
                  </div>
                  <!-- 駆動方式 -->
                  <div class="item">
                      <label class="label_left" for="drive">駆動方式</label>
                      <input id="drive" type="number" min="0" max="3" placeholder="駆動方式を入力" required name="drive_system"><br>
                  </div> 

                  
                  <div class="item">
                      <label class="label_left" for="img">車種写真<br><img src="../img/hasure.png"></label>

                  </div>

                  <!-- 2022/12/22 チェックボックス追加・編集　渡邉 -->
                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="aircon">エアコン</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="2147483648">
                    </div>
                    <div class="item">
                      <label class="label_left" for="powersta">パワステ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="1073741824">
                    </div>
                    <div class="item">
                      <label class="label_left" for="powerwindow">パワーウィンドウ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="536870912">
                    </div>
                    <div class="item">
                      <label class="label_left" for="doorlock">集中ドアロック</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="268435456">
                    </div>
                  </div>

                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="abs">ABS</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="134217728">
                    </div>
                    <div class="item">
                      <label class="label_left" for="airback">エアバッグ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="67108864">
                    </div>
                    <div class="item">
                      <label class="label_left" for="etc">ETC</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="33554432">
                    </div>
                    <div class="item">
                      <label class="label_left" for="keylessentry">キーレスエントリー</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="16777216">
                    </div>
                  </div>

                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="sumartkey">スマートキー</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="8388608">
                    </div>
                    <div class="item">
                      <label class="label_left" for="cd">CD</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="4194304">
                    </div>
                    <div class="item">
                      <label class="label_left" for="md">MD</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="2097152">
                    </div>
                    <div class="item">
                      <label class="label_left" for="dvd">DVDビデオ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="1048576">
                    </div>
                  </div>

                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="tv">テレビ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="524288">
                    </div>
                    <div class="item">
                      <label class="label_left" for="nav">ナビゲーション</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="262144">
                    </div>
                    <div class="item">
                      <label class="label_left" for="backcamera">バックカメラ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="131072">
                    </div>
                    <div class="item">
                      <label class="label_left" for="electdoor">電動スライドドア</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="65536">
                    </div>
                  </div>

                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="sunlurf">サンルーフ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="32768">
                    </div>
                    <div class="item">
                      <label class="label_left" for="sheet">本革シート</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="16384">
                    </div>
                    <div class="item">
                      <label class="label_left" for="airlparts">純正エアロパーツ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="8192">
                    </div>
                    <div class="item">
                      <label class="label_left" for="aluminumfoil">純正アルミホイール</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="4096">
                    </div>  
                  </div>
                  
                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="slide">横滑り防止装置</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="2048">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="tigercushion">トラクッションコントロール</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="1024">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="cold">寒冷地帯仕様車</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="512">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="welfarevehicles">福祉車両</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="256">
                    </div>  
                  </div>
                  
                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="lowdawn">ローダウン</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="128">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="nosmokecar">禁煙車</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="68">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="notpet">ペット同乗なし</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="32">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="exclusive">限定車</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="16">
                    </div>    
                  </div>        
                  
                  <div class="flex">
                    <div class="item">
                      <label class="label_left" for="testdrive">試乗、現車確認可能</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="8">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="operatinginstructions">取扱説明書</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="4">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="newcar">新車時保証書</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="2">
                    </div>                  
                    <div class="item">
                      <label class="label_left" for="sparetire">スペアタイヤ</label>
                      <input type="checkbox" name="ornaments" class="ornaments" value="1">
                    </div>
                  </div>
              
                  <!--   名前 -->
                  <div class="btns">
                    <input type="submit" value="登録" id="entryBtn"><br>
                    <input type="reset" value="リセット">
                  </div>
              </form>
        </main>
</div>

<!-- todo:test -->
<select name="run" id="run">
  
  
</select>
      <script src="../js/side.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="../js/carentry.js"></script>
  </body>
</html>