<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/destyle.css">
    <link rel="stylesheet" type="text/css" href="../css/completion.css">
    <title>取引完了</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <div id="contents">
            <div class="item">
                <p class="soldout">SOLD OUT</p>
                <p id="img"><img src="../img/hustler.png" alt="車"></p>
            </div>
            <div id="detail">
                <h2>オークション終了</h2>
                <div>
                    <p><span>メーカー：</span>スズキ</p>
                    <p><span>車種名：</span>ハスラー</p>
                    <p><span>年式：</span>2020</p>
                    <p><span>走行距離：</span>15000</p>
                    <p><span>車検有効期限：</span>有効期限切れ</p>
                </div>
                <div>
                    <p><span>色：</span>オレンジ</p>
                    <p>オートマ</p>
                    <p><span>排気量：</span>200</p>
                    <p><span>乗車定員数：</span>4</p>
                    <p><span>駆動方式：</span>4</p>
                </div>
                <div id="parts">
                    <p><span>装備品：</span>パーツ</p>
                </div>
            </div>
        </div>

        <h2>取引完了</h2>
        <p>お客様が落札いたしました。オークションの入札ありがとうございました。</p>
    </main>
</body>
</html>