<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>車両詳細</title>
</head>
<body>
    <header class="header">
        <h1>HAL中古車販売</h1>
    </header>
    <main>
        <article>
            <section>
                <h2>スズキ　ハスラー</h2>
                <p><img src="../img/hustler.png" alt=""></p>
            </section>
            <section>
                <div>
                    <p>価格</p>
                    <p id="price">1,200,000円</p>
                </div>
                <div>
                    <p>ボディータイプ</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>年式</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>走行距離</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>実走行</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>色</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>車検有効期限</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>オートマ/ミッション</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>排気量</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>乗車人数</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p>駆動方式</p>
                    <p>1,200,000円</p>
                </div>
                <div>
                    <p></p>
                    <p>1,200,000円</p>
                </div>
                
            </section>
        </article>
    </main>
    <footer class="footer">フッター</footer>
</body>
</html>