<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/error.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>問題が発生しました</h1>
    <p>会社に問い合わせてください</p>
    <div class="demo_stage">
        <div class="demo_wrap" data-order="left">
        <span class="demo_item anime"></span>
        </div>
    </div>
    <script src="../js/error.js"></script>
</body>
</html>