<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お気に入り</title>
    <link rel="stylesheet" type="text/css" href="../css/destyle.css">
    <link rel="stylesheet" type="text/css" href="../css/favorite.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <div id ="select">
            <h2 id="select_f"><button>お気に入り</button></h2>
            <h2 id="select_s"><button>閲覧履歴</button></h2>    
        </div>
        <p id="checkbox"><input type="checkbox" name="" value="">オークション予定のみ表示</p>
        <div class="space_between">
            <div class="item">
                <p><img src="../img/SELENA.png" alt="車の写真" width="200px"></p>
                <div class="detail">
                    <p>車種名</p>
                    <p>￥〇〇,〇〇〇</p>
                    <div class="icon">
                        <p><img src="../img/like.png" alt="ハート" width="20px">4</p>
                        <p><img src="../img/chat.png" alt="チャット" width="20px">5</p>    
                    </div>
                </div>
            </div>
            <p class="next">></p>
        </div>
        <div class="space_between">
            <div class="item">
                <p><img src="../img/SELENA.png" alt="車の写真" width="200px"></p>
                <div class="detail">
                    <p>車種名</p>
                    <p>￥〇〇,〇〇〇</p>
                    <div class="icon">
                        <p><img src="../img/like.png" alt="ハート" width="20px">8</p>
                        <p><img src="../img/chat.png" alt="チャット" width="20px">10</p>    
                    </div>
                </div>
            </div>
            <p class="next">></p>
        </div>
        <div class="space_between">
            <div class="item">
                <p><img src="../img/hasure.png" alt="車の写真" width="200px"></p>
                <div class="detail">
                    <p>車種名</p>
                    <p>￥〇〇,〇〇〇</p>
                    <div class="icon">
                        <p><img src="../img/like.png" alt="ハート" width="20px">8</p>
                        <p><img src="../img/chat.png" alt="チャット" width="20px">10</p>    
                    </div>
                </div>
            </div>
            <p class="next">></p>
        </div>
        <div class="space_between">
            <div class="item">
                <p><img src="../img/hasure.png" alt="車の写真" width="200px"></p>
                <div class="detail">
                    <p>車種名</p>
                    <p>￥〇〇,〇〇〇</p>
                    <div class="icon">
                        <p><img src="../img/like.png" alt="ハート" width="20px">8</p>
                        <p><img src="../img/chat.png" alt="チャット" width="20px">5</p>    
                    </div>
                </div>
            </div>
            <p class="next">></p>
        </div>
        <div class="space_between">
            <div class="item">
                <p><img src="../img/hasure.png" alt="車の写真" width="200px"></p>
                <div class="detail">
                    <p>車種名</p>
                    <p>￥〇〇,〇〇〇</p>
                    <div class="icon">
                        <p><img src="../img/like.png" alt="ハート" width="20px">8</p>
                        <p><img src="../img/chat.png" alt="チャット" width="20px">10</p>    
                    </div>
                </div>
            </div>
            <p class="next">></p>
        </div>
    </main>
</body>
</html>