<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン/登録ページ</title>
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="./login_check" method="post">
                <h1>登録</h1>
                <input type="text" placeholder="名前"  required id="name" name="name" class="a">
                <input type="text" placeholder="ログインID"  required id="login" name="login" class="a">
                <input type="password" placeholder="パスワード"  required id="pass" name="pass">
                <input type="text" placeholder="電話番号"  required id="tel" name="tel">
                <input type="text" placeholder="郵便番号" required id="postal" >
                <input type="text" placeholder="住所"  required id="address">
                <input type="text" placeholder="マンション名" required id="apartment">
                <input type="number" minlength="12" maxlength="12" placeholder="クレジットカード番号" required id="card">
                <button type="submit" id="register">登録する</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/user_top">
                <h1>ログイン</h1>
                <input type="text" placeholder="ログインIDを入力してください。">
                <input type="password" placeholder="パスワードを入力してください。">
                <button>ログインする</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>ログインする</h1>
                <p>アカウントを既にお持ちの方はこちらからログインしてください</p>
                <button class="ghost" id="signIn">ログイン画面へ</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>アカウントを作成する</h1>
                <p>アカウントをお持ちでない方はこちらから登録してください</p>
                <button class="ghost" id="signUp">登録画面へ</button>
            </div>
            </div>
        </div>
    </div>
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
        });
    </script>
</body>
    <script src="../js/side.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/login.js"></script>
</html>