<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/schedule.css">
    <!-- HTMLが読み込まれてから実行 defer -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>スケジュール登録</title>
</head>
<body>
    <div class="top">
        <header class="header">
          <h1>HAL中古車販売</h1>
        </header>
        <aside class="menu">
            <ul id="accordion" class="accordion">
                <li>
                  <div class="link"><i class="fa fa-database"></i>車両管理<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="top.ejs">車両一覧</a></li>
                    <li><a href="carentry.ejs">車両情報登録</a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fa fa-code"></i>会員管理<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="user.ejs">会員情報一覧</a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fa fa-mobile"></i>出品管理<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="schedule.ejs">スケジュール登録</a></li>
                    <li><a href="#">出品一覧</a></li>
                    <li><a href="exhibit.ejs">出品情報登録</a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fa fa-globe"></i>オークション管理<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="auction.ejs">オークション一覧</a></li>
                  </ul>
                </li>
              </ul>
        </aside>
            <main class="main">
                <h1>スケジュール登録</h1>

                <!-- 2022/12/12 修正渡邉 -->
                <input type="week" name="week" id="camp-week" min="2022-w1" required>
                <button id="schedule_registration">登録</button>
            <div class="content">
                <div id="days">
                    <div class="day">
                        <div class="day_of_week">月</div>
                        <div class="day_num">31</div>
                    </div>
                    <div class="day">
                        <div class="day_of_week">火</div>
                        <div class="day_num">1</div>
                    </div>
                    <div class="day">
                        <div class="day_of_week">水</div>
                        <div class="day_num">2</div>
                    </div>
                    <div class="day">
                        <div class="day_of_week">木</div>
                        <div class="day_num">3</div>
                    </div>
                    <div class="day">
                        <div class="day_of_week">金</div>
                        <div class="day_num">4</div>
                    </div>
                    <div class="day">
                        <div class="day_of_week">土</div>
                        <div class="day_num">5</div>
                    </div>
                    <div class="day">
                        <div class="day_of_week">日</div>
                        <div class="day_num">6</div>
                    </div>
                </div>
            
                <div id="container">
                    <div id="time_container">
                        <div class="time">9:00</div>
                        <div class="time">9:15</div>
                        <div class="time">9:30</div>
                        <div class="time">9:45</div>
                        <div class="time">10:00</div>
                        <div class="time">10:15</div>
                        <div class="time">10:30</div>
                        <div class="time">10:45</div>
                        <div class="time">11:00</div>
                        <div class="time">11:15</div>
                        <div class="time">11:30</div>
                        <div class="time">11:45</div>
                        <div class="time">12:00</div>
                        <div class="time">12:15</div>
                        <div class="time">12:30</div>
                        <div class="time">12:45</div>
                        <div class="time">13:00</div>
                        <div class="time">13:15</div>
                        <div class="time">13:30</div>
                        <div class="time">13:45</div>
                        <div class="time">14:00</div>
                        <div class="time">14:15</div>
                        <div class="time">14:30</div>
                        <div class="time">14:45</div>
                        <div class="time">15:00</div>
                        <div class="time">15:15</div>
                        <div class="time">15:30</div>
                        <div class="time">15:45</div>
                        <div class="time">16:00</div>
                        <div class="time">16:15</div>
                        <div class="time">16:30</div>
                        <div class="time">16:45</div>
                        <div class="time">17:00</div>
                        <div class="time">17:15</div>
                        <div class="time">17:30</div>
                        <div class="time">17:45</div>
                        <div class="time">18:00</div>
                        <div class="time">18:15</div>
                        <div class="time">18:30</div>
                        <div class="time">18:45</div>
                        <div class="time">19:00</div>
                    </div>
            
                    <div id="drag_zone">
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
                <div class="content2">
                    <h2>登録済</h2>
                    <div id="registered">
                        <div class="row">
                            <!-- <div class="draggable" draggable="true">
                                要素１１１１１１
                                <div class="size"></div>
                            </div>
                            <div class="draggable" draggable="true">
                                要素２２２２２
                                <div class="size"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </main>
            <!-- <footer class="footer">フッター</footer> -->
    </div>
    <script src="../js/side.js"></script>

    
    <div id="car_info_array" data-car_info="<%= car_info_array %>"></div>
    <script src="../js/functions.js"></script>
    <script src="../js/schedule.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>