<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/car.css">
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/grid.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>車両管理</title>
</head>
<body>
  <div class="top">
    <header class="header">
      <h1>HAL中古車販売</h1>
    </header>
    <aside class="menu">
        <ul id="accordion" class="accordion">
            <li>
              <div class="link"><i class="fa fa-database"></i>車両管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="top">車両一覧</a></li>
                <li><a href="carentry">車両情報登録</a></li>
              </ul>
            </li>
            <li>
              <div class="link"><i class="fa fa-code"></i>会員管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="user">会員情報一覧</a></li>
              </ul>
            </li>
            <li>
              <div class="link"><i class="fa fa-mobile"></i>出品管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
                <li><a href="schedule">スケジュール登録</a></li>
                <li><a href="#" onclick="">出品一覧</a></li>
                <li><a href="exhibit">出品情報登録</a></li>
              </ul>
            </li>
            <li>
              <div class="link"><i class="fa fa-globe"></i>オークション管理<i class="fa fa-chevron-down"></i></div>
              <ul class="submenu">
              </ul>
            </li>
          </ul>
    </aside>
        <main class="main">
            <h1>車両一覧</h1>
            <form action="">
              <input type="text">
              <button><i class="gg-search"></i></button>
            </form>

            <div id="linkbutton">
                <button type="submit" id="">登録</button>
                <button type="submit" id="deleteBtn">削除</button>
                <button type="submit" id="">変更</button>
            </div>

            <table>
              <tr>
                <th>項目</th>
                <th>車両ID</th>
                <th>車種名</th>
                <th>価格</th>
                <th>メーカー名</th>
                <th>開始時刻</th>
                <th>終了時刻</th>
                <th>項目</th>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="1" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="2" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="3" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="4" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="5" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="6" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="7" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="8" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="9" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="10" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a href="#" onclick="">詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="11" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a>詳細表示</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" name="car" value="12" class="item"></td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td>データ</td>
                <td><a>詳細表示</a></td>
              </tr>
            </table>
        </main>
        <footer class="footer">フッター</footer>
</div>
      <script src="../js/side.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="../js/top.js"></script>
  </body>
</html>
