<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" type="text/css" href="../css/destyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/user_top.css">

</head>
<body>
    <%- include('header') %>
    <main>
        <div id="bana">
            <div id="held">
                <h2>オークション開催中</h2>
                <p>車種名：インサイト</p>
                <p>現在の落札金額：￥100,000</p>
                <p>残り時間：5分13秒10</p>
                <form action="auction_detail.ejs">
                    <button id="button">詳細を確認</button>
                </form>
            </div>
            <div id="bak">
                <img src="../img/hasure.png" alt="オークション開催中/次のオークション開催予定の車両写真">
            </div>
        </div>
        <div id="main_flex">
            <div>
                <div id="schedule">
                    <h2>オークション予定</h2>
                    <ul class="slider">
                        <li class="vehicle">
                            <p><img src="../img/hasure.png" alt="オークション予定の車両写真"></p>
                            <p>インサイト</p>
                            <p>￥20,000</p>
                            <p>開催中</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/hasure.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと5分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/SELENA.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと20分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/hasure.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと60分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/SELENA.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと100分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div id="check_list">
                    <h2>観覧履歴</h2>
                    <ul class="slider">
                        <li class="vehicle">
                            <p><img src="../img/hasure.png" alt="オークション予定の車両写真"></p>
                            <p>インサイト</p>
                            <p>￥20,000</p>
                            <p>開催中</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/hasure.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと5分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/SELENA.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと20分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/hasure.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと60分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                        <li class="vehicle">
                            <p><img src="../img/SELENA.png" alt="オークション予定の車両写真"></p>
                            <p>車種名</p>
                            <p>￥〇〇</p>
                            <p>あと100分で開催</p>
                            <form action="car_detail.ejs" class="detail">
                                <button>詳細を確認</button>
                            </form>
                        </li>
                    </ul>
                </div>
            
            </div>
            <div id="search">
                <form>
                    <div id="search_text">
                        <p><input type="text" name=""></p>
                        <p><button type="submit" name=""><img src="../img/search.png" alt="検索ボタン" width="20px"></button></p>
                    </div>
                    <div class="margin_bottom">
                        <p>メーカー</p>
                        <p>
                            <select name="">
                                <option value="">すべてのメーカー∨</option>
                                <option value="">※ここから選択肢</option>
                            </select>
                        </p>
                    </div>
                    <div class="margin_bottom">
                        <p>車種</p>
                        <p>
                            <select name="">
                                <option value="">すべての車種∨</option>
                                <option value="">※ここから選択肢</option>
                            </select>
                        </p>
                    </div>
                    <div class="margin_bottom">
                        <p>価格</p>
                        <div id="price">
                            <p>
                                <select name="">
                                    <option value="">下限なし∨</option>
                                    <option value="">※ここから選択肢</option>
                                </select>
                            </p>
                            <p>~</p>
                            <p>
                                <select name="">
                                    <option value="">上限なし∨</option>
                                    <option value="">※ここから選択肢</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="margin_bottom">
                        <p>走行距離</p>
                        <p><input type="text" name="">km</p>
                    </div>
                    <div class="margin_bottom">
                        <div id="search_select">
                            <p><input type="radio" name="" value="">オートマ</p>
                            <p><input type="radio" name="" value="">ミッション</p>
                        </div>
                    </div>
                    <div class="margin_bottom">
                        <p>乗車定員数</p>
                        <p>
                            <select name="">
                                <option value="">指定しない∨</option>
                                <option value="">4人</option>
                                <option value="">30人以上</option>
                            </select>
                        </p>
                    </div>
                    <div class="margin_bottom">
                        <p>色</p>
                        <div class="color_pared">
                            <p><input type="radio" name="" value="" id="white"><label for="white"><img src="../img/color/white.jpg" alt="white" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="gray"><label for="gray"><img src="../img/color/gray.jpg" alt="gray" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="red"><label for="red"><img src="../img/color/red.jpg" alt="red" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="pink"><label for="pink"><img src="../img/color/pink.jpg" alt="pink" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="orange"><label for="orange"><img src="../img/color/orange.jpg" alt="orange" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="yellow"><label for="yellow"><img src="../img/color/yellow.jpg" alt="yellow" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="yellow-green"><label for="yellow-green"><img src="../img/color/yellow-green.jpg" alt="yellow-green" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="green"><label for="green"><img src="../img/color/green.jpg" alt="green" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="blue"><label for="blue"><img src="../img/color/blue.jpg" alt="blue" width="30px"></label></p>
                        </div>
                        <div class="color_pared">
                            <p><input type="radio" name="" value="" id="purple"><label for="purple"><img src="../img/color/purple.jpg" alt="purple" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="dark-blue"><label for="dark-blue"><img src="../img/color/dark-blue.jpg" alt="dark-blue" width="30px"></label></p>
                            <p><input type="radio" name="" value="" id="black"><label for="black"><img src="../img/color/black.jpg" alt="black" width="30px"></label></p>
                        </div>
                    </div>
                    <p>装備品</p>
                        <p><input type="checkbox" name="" value="">エアコン</p>
                        <p><input type="checkbox" name="" value="">エアバック</p>
                        <p><input type="checkbox" name="" value="">ETC</p>
                        <p><input type="checkbox" name="" value="">テレビ</p>
                </form>
            </div>
        </div>
    </main>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/slider.js"></script>
</body>
</html>